

 <div id="header"><img style="width:350PX;height:100PX;" src="assets/photo/logoAW.png" class="img"></div> 
 <br> <br>
<div class="parent">
    
<div id="tab" class="table1">
    <div class="titre"  style=" color:black;background-color: RGB(254,176,10);"><h5>Courbe brute téléchargée de BKAM</h5></div>
    <br>  
    <table class="table table-dark table-striped">
        <thead>
          <tr class="table-light" style="color: black;" >
        <th scope="col">Keys</th>
        <th scope="col">Echeance</th>
        <th scope="col">Taux</th>
        <th scope="col">Date de Valeur</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        
        <td>Otto</td>
        <td>@mdo</td>
      </tr> <tr>
        <th scope="row">1</th>
        
        <td>Otto</td>
        <td>@mdo</td>
      </tr> <tr>
        <th scope="row">1</th>
        
        <td>Otto</td>
        <td>@mdo</td>
      </tr> <tr>
        <th scope="row">1</th>
        
        <td>Otto</td>
        <td>@mdo</td>
      </tr> <tr>
        <th scope="row">1</th>
        
        <td>Otto</td>
        <td>@mdo</td>
      </tr> <tr>
        <th scope="row">1</th>
        
        <td>Otto</td>
        <td>@mdo</td>
      </tr> <tr>
        <th scope="row">1</th>
        
        <td>Otto</td>
        <td>@mdo</td>
      </tr> <tr>
        <th scope="row">1</th>
        
        <td>Otto</td>
        <td>@mdo</td>
      </tr> <tr>
        <th scope="row">1</th>
        
        <td>Otto</td>
        <td>@mdo</td>
      </tr> <tr>
        <th scope="row">1</th>
        
        <td>Otto</td>
        <td>@mdo</td>
      </tr> <tr>
        <th scope="row">1</th>
        
        <td>Otto</td>
        <td>@mdo</td>
      </tr> <tr>
        <th scope="row">1</th>
        
        <td>Otto</td>
        <td>@mdo</td>
      </tr> <tr>
        <th scope="row">1</th>
        
        <td>Otto</td>
        <td>@mdo</td>
      </tr> <tr>
        <th scope="row">1</th>
        
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
       
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
      
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
<div id="tab" class="table2">
    <div class="titre"  style=" color:black;background-color: RGB(254,176,10);"  ><h5>Courbe brute retraitée</h5></div>
    <br> 
    <table class="table table-dark table-striped">
        <thead>
          <tr class="table-light" style="color: black;" >
            <th scope="col">Maturité en Jour</th>
            <th scope="col">Taux</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr> <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
           
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
           
          </tr>
        </tbody>
      </table>
    </div>

    <div  id="tab" class="table3">
        <div class="titre" style=" font-size:30px;color:black;background-color: RGB(254,176,10);"><h5> Interpolation courbe standard et ZC</h5></div>
    <br>  
        <table class="table table-dark table-striped">
            <thead>
              <tr class="table-light" style="color: black;" >
                <th scope="col">Maturité en Date</th>
                <th scope="col">Maturité</th>
                <th scope="col">Taux interpollé</th>
                <th scope="col">Taux ZC</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>



    </div>